* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dd3e54;
  background: -webkit-linear-gradient(to right, #6be585, #dd3e54);
  background: linear-gradient(to right, #6be585, #dd3e54);
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17 rgba(156, 156, 156, 1);
  border: 1px solid rgb(41, 41, 41);

}

.display {
  background-color: rgb(212, 212, 212);
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 12px 8px;
  font-size: 30px;
  color: #000;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons > div {
  border-top: 1px solid rgb(41, 41, 41);
}

.button:hover {
  background: #dd3e54;
  transition: 0.5s ease-in-out;
}

.button {
  border: 0.5px solid rgb(41, 41, 41);
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
